.desktop_elements {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.desktop_elements p {
  color: white;
}
.desktop_elements img {
  margin: auto;
  display: block;
  height: 55px;
}
