.desktop_link {
  text-decoration: none;
  margin: 0.3rem;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop_link:hover {
  background-color: #1d49afaa;
}
