#top_border {
  height: 35px;
  background-color: blue;
  border-radius: 10px 10px 0px 0px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.window {
  z-index: 1;
  height: 25rem;
  width: 35rem;
  position: absolute;
  left: 20%;
  max-width: 99vw;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 3px solid blue;
  border-radius: 10px 10px 0px 0px;
  resize: both;
  overflow: auto;
}
.container {
  position: fixed;
  height: calc(100% - 40px);
  width: 100%;
}

.maximize,
.minimize,
.close_btn {
  height: 1.6rem;
  width: 1.6rem;
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: blue;
  color: white;
  box-shadow: inset 0px 0px 5px 1px rgba(255, 255, 255, 0.693);
}

.close_btn {
  background-color: red;
}
