.start {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  margin-right: 0;
  background-color: #1d4aaf;
  box-shadow: inset 0px 10px 10px #ffffff77;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.start_btn {
  background-color: #1d991d;
  box-shadow: inset 0px 10px 10px #ffffff77;

  width: 120px;
  height: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  color: #ffffffd7;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 0 13px 13px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.start_btn img {
  height: 25px;
  width: 30px;
}

.date_time {
  background-color: #107abe;
  box-shadow: inset 0px 10px 10px #ffffff77;
  height: 100%;
  padding: 1rem;
  color: white;
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
}
.divider {
  color: rgba(188, 188, 188, 0.746);
  margin: 10px 0px;
  width: 80%;
}

.start_items {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1rem;
}
.start_items img {
  height: 100%;
  display: flex;
  height: 1.5rem;
}
.start_items p {
  height: 100%;
  width: 100%;
  font-weight: lighter;
  font-size: medium;
  color: #12275b;
  margin-top: -30px;
  text-align: left;
  padding-left: 2rem;
}

.start_items h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1rem;
  padding: 1rem;
}
.mid_section {
  position: absolute;
  width: 80%;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10rem;
}
.mid_section p {
  color: white;
  font-weight: bold;
}
.minimized_window {
  height: 80%;
  max-width: 10%;
  z-index: 5;
  border: 2px solid black;
  background-color: brown;
}
@media screen and (max-width: 500px) {
  .start_btn {
    display: none;
  }
  .start {
    justify-content: center;
  }
}
