.desktop_elements {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;

  padding-bottom: 30px;
}

.desktop_elements p {
  color: white;
}

@media screen and (max-width: 400px) {
  .desktop_elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
